*.log

.env
.env.*
!.env.example

**/target/

**/.idea/
**/*.iml
**/*.iws

hs_err_pid*
replay_pid*

/client/.venv/
/client/venv/

**/__pycache__/
*.py[cod]

/client/dist/
/client/build/
*.egg-info/
*.egg

.DS_Store
Thumbs.db
